@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";

    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <img src="~/assets/images/403Error.png" class="w-75"/>
    <h1 class="text-secondary fw-bold mainTitle">We Are Sorry .... </h1>
    <div class="text-secondary fs-1 mb-5 pb-5">
        The page you're trying to access has restricted access
        <br />
        please refer to your system administrator
    </div>
</div>